<form role="form" name="ctl.formOne">
<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Section One of Four</h1>
  </ion-header-bar>
  <ion-content padding="10">
    <p>Please answer the following questions to the best of your ability.
      There is no penalty for wrong answers.
    </p>

    <div class="list card">
      <div class="item item-divider">
        Please type the following sentence<br/>
      </div>
      <label class="item item-input item-text-wrap item-stacked-label">
        <strong>The quick brown fox jumps over the lazy dog.<strong>
          <input type="text" ng-model="ctl.oneSentence" placeholder="Type here" required="required">
      </label>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Choose the option that best describes the image
      </div>
      <label class="item item-input item-text-wrap item-stacked-label">
        <img src="img/star.svg" width="150" height="150"/>
        <ion-radio ng-model="ctl.oneDrawing" ng-value="'square'" required="required">Square</ion-radio>
        <ion-radio ng-model="ctl.oneDrawing" ng-value="'rectangle'" required="required">Rectangle</ion-radio>
        <ion-radio ng-model="ctl.oneDrawing" ng-value="'star'" required="required">Star</ion-radio>
        <ion-radio ng-model="ctl.oneDrawing" ng-value="'triangle'" required="required">Triangle</ion-radio>
      </label>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Please perform the following math operation
      </div>
      <label class="item item-input">
        <span class="input-label">16 + 25 =</span>
        <input type="text" ng-model="ctl.oneMath" placeholder="Type here" required="required">
      </label>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Which of the following statements is true?
      </div>
      <label class="item item-input item-text-wrap item-stacked-label">
        <ion-radio ng-model="ctl.oneChoice" ng-value="'a'" required="required">1 + 1 = 3</ion-radio>
        <ion-radio ng-model="ctl.oneChoice" ng-value="'b'" required="required">3 > 5</ion-radio>
        <ion-radio ng-model="ctl.oneChoice" ng-value="'c'" required="required">5 > 3</ion-radio>
        <ion-radio ng-model="ctl.oneChoice" ng-value="'d'" required="required">none of the above</ion-radio>
      </label>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Please click this button {{ctl.timesToClick}} times
      </div>
      <div class="item item-text-wrap">
        <button class="button button-block button-calm" ng-disabled="ctl.timesClicked >= ctl.timesToClick"
                ng-click="ctl.incrementTimesClicked()">
          Click Me ({{ctl.timesToClick - ctl.timesClicked}})
        </button>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Please type the seventeenth word in the following paragraph
      </div>
      <div class="item item-text-wrap">
        <p>When in the Course of human events, it becomes necessary for one people to dissolve the political bands which
          have connected them with another, and to assume among the powers of the earth, the separate and equal station
          to which the Laws of Nature and of Nature's God entitle them, a decent respect to the opinions of mankind
          requires that they should declare the causes which impel them to the separation.</p>
      </div>
      <label class="item item-input item-text-wrap item-stacked-label">
        <input type="text" ng-model="ctl.oneWord" placeholder="Type here" ng-required="true">
      </label>
    </div>

    <button class="button button-block button-calm" ng-disabled="!ctl.canContinue()" ng-click="ctl.next()">
      Continue
    </button>
  </ion-content>
</ion-pane>
</form>